fastapi==0.68.0
uvicorn==0.15.0
python-multipart==0.0.5
sqlalchemy==1.4.23
torch>=1.9.0
torchvision>=0.10.0
mlflow==1.20.2
reportlab==3.6.1
Pillow>=8.3.2
pydicom>=2.4.3
pynetdicom==2.0.2
fhir.resources==7.1.0
opencv-python-headless==4.8.1.78
monai
ultralytics
timm
pandas
pytorch-grad-cam
albumentations
scikit-learn
scikit-image
scipy